* {
  box-sizing: border-box;
}

p {
  margin: 15px;
}

.App {
  display: flex;
  max-width: 1294px;
  max-height: 583px;
  min-height: 583px;
  margin: 0 auto;
  border: 2px solid #5277A4;
  border-radius: 4px;
}

.user-info-container {
  border-top: 1px solid grey;
}