.App {
  border: 1px solid black;
  max-width: 890px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  height: 950px;
}

.terminal-page {
  border: 2px solid orange;
  width: 800px;
  display:flex;
  justify-content: center;
  flex-flow: wrap;
}

.terminal-output {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 700px;
  height: 700px;
  overflow: scroll;
}

.terminal-print {
  margin: 10px
}