body {
  background: rgb(255, 254, 254);
  color: rgb(0, 0, 0);
  min-width: 50%;
  margin: 100px;
  
  position: center;

}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout {
  font-size: 150%;
  position: absolute;
  top: 4%;
  left: 10%;
  color: red;
  transition: transform .2s;
}
.location{
  font-size: 150%;
  margin-bottom: 20px;
}