.App {
  text-align: center;
}

.error {
  color: red;
  font-size: 18px; 
}

.registration{
  width: 30%; 
  margin: 0 auto; 
  margin-top: 150px; 
}

.registration form {
  margin-top: 20px; 
}

.registration form button {
  margin: 20px; 
  margin-bottom: 40px; 
}

.registration form .row {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}


