
.main {
    margin: 0 auto;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    width:300px;
    margin: 0 auto;
}

.custominput {
    width: 300px;
    height:50px;
    font-size: 20px;
    color: #323232;
    text-align:center;
}
.register-button {
    width: 308px;
    height: 75px;
    color: white;
    background-color:#45818E;
    font-size: 28px;
    margin-top: 5px;
}
.display-current-room-title {
color: #45818E;
margin-top:10px;
margin-bottom:10px;
}
.display-current-room-description {
    color: #B45F06;
    margin-top:10px;
    margin-bottom:10px;
    }
.display-player-text {
    color: white;
}
.display-history-text {
    color: white;
    background-color: #45818E;
    margin: 15px;
    padding: 3px;
    font-size: 14px;
}
.display-current-room {
    padding:10px;
    background-color: #262626;
    box-shadow:inset 0px 4px 40px #000;
    
}
.display-history {
    padding:20px;
    background-color: #0C343C;
    height: 200px;
    outline: 2px solid white;
    outline-offset: -15px;
    overflow: scroll;
    width:75%;
}
.command-wrapper {
    display: flex;
    width: 96%;
    margin: 10px auto;
    flex-wrap: nowrap;
}

.commandinput {
    width: 75%;
    height:50px;
    font-size: 20px;
    color: #323232;
    text-align:center;
    outline: 1px solid #0C343C;
    outline-offset: -2px;
    
}
.command-button {
    width: 25%;
    height: 50px;
    color: white;
    background-color: #B45F06;
    font-size: 28px;    
}
.display-chat-room {
    padding:20px;
    background-color: #262626;
    box-shadow:inset 0px 4px 40px #000;
    height: 200px;
    width: 25%;
    outline: 2px solid grey;
    outline-offset: -15px;
    overflow: scroll;
}

@media (max-width: 800px) {
    .display-chat-room {
        padding:20px;
        background-color: #262626;
        box-shadow:inset 0px 4px 40px #000;
        height: 200px;
        width: 100%;
        outline: 2px solid grey;
        outline-offset: -15px;
        overflow: scroll;
    }
    .display-history {
            padding:20px;
            background-color: #0C343C;
            height: 200px;
            outline: 2px solid white;
            outline-offset: -15px;
            overflow: scroll;
            width:100%;
    }
    .command-wrapper {
        display: flex;
        width: 100%;
        margin: 10px auto;
        flex-wrap: nowrap;
    }
}
