html {
  height: 100%;
}
body {
  background-image: url('./images/rpg_play_bkg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
} 

.new-image {
  background-image: url('./images/play-rpg-2.jpg');
}

#root {
  height: 100;
}

.App {
  text-align: center;
  height: 100vh;
}

.Main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  box-sizing: border-box;
}

.Main-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
} 

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .play-container {
  background-image: url('./images/play-rpg-2.jpg');
  background-size: cover;
  background-position: center;
} */


.loginTitle{
  font-size: 128px;
  color: white;
  text-shadow: 4px 4px 5px gray;
  box-shadow: -5px 5px 20px cyan;
  width: 40%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 5%;
}

.login {
  color: white;
  border: 2px solid pink;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}



.goto-signup {
  color: magenta;
  text-decoration: none;
  font-size: 20px;
  width: 10px;
  text-shadow: -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

.play {
  width: 100%;
  height: 100;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.hud {
  color: white;
  border: 2px solid white;
  width: 35%;
  margin-left: 1%;
  margin-top: 1%;
  height: 600px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.players {
  display: flex;
  width: 100%;
  height: 30%;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  font-size: 18px;
}

.player-name {
  border: 2px solid white;
  width: 40%;
  height: 100%;
  padding-top: 2%;
  box-sizing: border-box;
}

.room-players {
  width: 59%;
  height: 100%;
  display: inline-block;
  margin: 0;
  text-align: center;
}

.player-location {
  border: 2px solid white;
  text-align: left;
  padding-left: 5%;
  margin: 0;
  height: 30%;
  width: 100%;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  font-size: 18px;
  color: silver;
}

.location-description {
  border: 2px solid white;
}

.control-center {
  height: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#sel {
  width: 200px;
  height: 30px;
  background: slategray;
  color: cyan;
  font-size: 18px;
}

button {
  background: black;
  color: darkcyan;
  font-size: 48px;
}

.login-button {
  background: black;
  color: darkcyan;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player-nav {
  width: 200px;
}

.message-input {
  width: 200px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  display: block;
  font-size: 24px;
  background: white;
  opacity: 0.8
}

.but-n {
  display: block;
  margin: 5px auto;
  margin-bottom: 0;
}

.logout {
  margin: 20px;
  float: right;
  background: black;
  color: gray;
  font-size: 24px;
  box-shadow: 1px 1px gray;
}

.main-logout {
  margin: 20px;
  background: black;
  color: gray;
  font-size: 24px;
  box-shadow: 1px 1px gray;
}

.start-game-button {
  background: rgba(3, 16, 51, 0.788);
  color: rgb(0, 204, 255);
  border: 2px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 3px 3px black;
  box-shadow: 5px 5px silver;
}

.goto-login{
  color: magenta;
  text-decoration: none;
  font-size: 20px;
  width: 10px;
  text-shadow: -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}

#re {
  width: 235px;
}

.error-msg {
  color: red;
}

.register-error {
  color: red;
  
}