* {
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4A4A4A;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 20px auto;
  border: 1px solid #979797;
  min-height: 600px;
}

.login-container {

}
