.App {
    font-family: sans-serif;
    /* text-align: center; */
    padding: 1%;
}

div {
    min-height: 50px;
}
button {
    color: #87d21d;
    background-color: grey;
    width: 150px;
    height: 50px;
    margin: 10px;
}
.window {
    min-height: 250px;
    border: 5px groove grey;
    padding: 3%;
    background-color: black;
    color: #87d21d;
}

.front {
    text-align: center;
}


li {
    list-style-type: none;
    padding: 1%;
}

#room {
    width: 700px;
}

* {
    font-family: "Press Start 2P", cursive;
}