.register-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form .register-card {
    padding: 5rem;
    font-size: 1.2rem;
    border: 1px solid black;
}

.register-form .register-card .register-input {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-form .register-card .register-input label {
    margin-right: .5rem;
}

.register-form .register-card .register-input input {
    border: 1px solid lightgray;
    height: 1.6rem;
    width: 12rem;
    cursor: pointer;
}

.register-form .register-card button {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;
}

.register-form .register-card button:hover {
    cursor: pointer;
}