.player {
    position: fixed;
    right: 10%;
    top: 1%;
    color: pink;
    font-size: 150%;
}
.game {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directions {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.chat {
    margin: 30px;
}
.chat > input {
    background: black;
    border: none;
    color:pink;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    font-size: 100%;
}

.chat > input:focus {
    outline: none;
}

.chat > button {
    border-radius: 5px;
    margin: 10px;
    height: 25px;
    background: pink;
    border: none;
    font-size: 80%;

}

.chat > button:focus {
    outline: none;
}

.chat > button:hover {
    outline: none;
}

.chat > button:active {
    box-shadow: 0px 0px 8px 2px inset rgba(0, 0, 0, 0.2), 0px 6px 20px 0px  rgba(0, 0, 0, 0.19);
    background: rgb(252, 178, 190);
}

.dir-btn {
    width: 60px;
    height: 25px;
    background: grey;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.26);
}

.dir-btn:hover {
    transform: scale(1.2);
    background: lightblue;
    cursor: pointer;
}