body {
  margin: 0;
  padding: 0;
  font-family:'Amatic SC', cursive; 
  font-size: 35px;
  background-image: url("https://images.pexels.com/photos/1624254/pexels-photo-1624254.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
}




