.login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .login-card {
    padding: 5rem;
    font-size: 1.2rem;
    border: 1px solid greenyellow;
}

.login-form .login-card .login-input {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form .login-card .login-input label {
    margin-right: .5rem;
    color: greenyellow;
}

.login-form .login-card .login-input input {
    border: 1px solid lightgray;
    height: 1.6rem;
    width: 12rem;
    cursor: pointer;
    border: 1px solid greenyellow;
    background-color: black;
    color: greenyellow;
}

.login-form .login-card button {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid greenyellow;
    background-color: black;
    color: greenyellow;
    transition: all .3s;
}

.login-form .login-card button:hover {
    cursor: pointer;
    color:rgb(72, 255, 0);
    border: 1px solid rgb(72, 255, 0);
}