.login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .login-card {
    padding: 5rem;
    font-size: 1.2rem;
    border: 1px solid black;
    /* box-shadow: 1px 1px 10px 5px; */
}

.login-form .login-card .login-input {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form .login-card .login-input label {
    margin-right: .5rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.login-form .login-card .login-input input {
    border: 1px solid lightgray;
    height: 1.6rem;
    width: 12rem;
    cursor: pointer;
    border: 1px solid black;
}

.login-form .login-card button {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid black;
    transition: all .3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: white;
}

.login-form .login-card button:hover {
    cursor: pointer;
    color:white;
    border: 1px solid white;
    background-color: black;
}