body {
  background: rgb(26, 25, 25);
  color: white;
}

.fa-spin {
  font-size: 500%;
  color: palevioletred;
  margin-bottom: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
