.Splash {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:rgba(192, 192, 192, 0.3);
  width: 800px;
  height: 400px;
}

.Title {
  color: #ffff66;
  font-size: 42px;
  text-align: center;
}

.ButtonWrap {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  justify-content: space-around;
}