.App {
  text-align: center;
  background-image: url('../src/assets/80s.jpg');
}

.App-header {
  
  /* border-bottom: solid 1px #459599; */
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mud-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 8rem;
  color:#FF4C65;
  margin: 0;
}

.mud-slogan {
  font-family: 'Courier New', Courier, monospace;
  
  color:#CC1E8D;
  margin: 1%;
}

.form {
  width: 30vw;
  display: flex;
  flex-flow: column;
}

.register-input {
  height:60px;
  background: #111;
  margin: 1% 0;
  color:#FF4C65;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.register-submit-btn {
  margin-top: 5%;
  height:60px;
  background: #282C33;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color:#0CFF83;
}
