<section class="sc-hEsumM irforR">
  <div class="sc-ktHwxA gCjXyn">
    <h1 class="sc-cIShpX bFrVXK">
    <p class="blurb">Welcome to Symposium.</p>
    </h1>
  </div>
  <section class="sc-feJyhm iWAZXo">
    <div class="sc-iELTvK egIrTd">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACVSURBVFhH7Y6xDYMwFES9BBE9jJ8hIlZIwiC0FOQeEpXtgIWhuie9Apl/d8EYk2G5yMOkjmt4mOKDHTzAAzzAAzygKK+V20Ftyf7LQ35l6riGZNORpJFvyY+j3F1bAFlkkk0HXRFPyQ8fmV15AjLJpoOuiEny2K1f19BLOuiKGCSPd/iSEaxjxCxTRzUkmw66jDEihB/yo8mU5mH4kwAAAABJRU5ErkJggg==">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="sc-iELTvK egIrTd">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACVSURBVFhH7Y6xDYMwFES9BBE9jJ8hIlZIwiC0FOQeEpXtgIWhuie9Apl/d8EYk2G5yMOkjmt4mOKDHTzAAzzAAzygKK+V20Ftyf7LQ35l6riGZNORpJFvyY+j3F1bAFlkkk0HXRFPyQ8fmV15AjLJpoOuiEny2K1f19BLOuiKGCSPd/iSEaxjxCxTRzUkmw66jDEihB/yo8mU5mH4kwAAAABJRU5ErkJggg==">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="sc-iELTvK egIrTd">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACVSURBVFhH7Y6xDYMwFES9BBE9jJ8hIlZIwiC0FOQeEpXtgIWhuie9Apl/d8EYk2G5yMOkjmt4mOKDHTzAAzzAAzygKK+V20Ftyf7LQ35l6riGZNORpJFvyY+j3F1bAFlkkk0HXRFPyQ8fmV15AjLJpoOuiEny2K1f19BLOuiKGCSPd/iSEaxjxCxTRzUkmw66jDEihB/yo8mU5mH4kwAAAABJRU5ErkJggg==">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>
</section>