:root {
    --white: #E4E4E4;
    --bg-black: #080B0C;
    --black: #080B0C;
    --light-black: #353535;
    --brown: #5B433D;
    --board-brown: #654840;
    --border-board-brown: #523838;
    --purple: #7E45B7;
    --gold: #DEB400;
    --dark-green: #29331F;
}