.mud-container {
  margin-top: 20px;
}

.textarea {
  background-color: #fff;
}

.link-mud {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  background-color: #3abeff;
  border-radius: 4px;
  padding: 5px 10px;
}
