body {
  box-sizing: border-box;
}

.register {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.register-wrapper {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.register-wrapper form input {
  margin: 10px 0;
}

@media (max-width: 500px) {
  .register-wrapper {
    width: 100%;
  }

  .register-wrapper form {
    width: 90%;
  }

  .register-wrapper form input {
    padding: 0;
    height: 20px;
  }
}