.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px 25px;
  margin-top: 50px;
}

.chat-box .chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 200px;
  text-align: left;
}

.chat-box .chat p {
  margin: 5px 0;
}
.chat-box form {
  text-align: left;
}
