.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;

}
/* Starting off my add ons */
.title-first {
  color: #CA8D42;
}

.title-second {
  color: #A7712F;
}

.title-third {
  color: #d9ad76;
}


.animation-title  {
  /* margin: 200px 0;
  padding: 0; */
  font-family: arial;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center; 
  position: relative;
  text-shadow: 0 0 1px rgba(0,0,0,.2);
  color: #d9ad76;
}


.animation-title:before {
  content: 'LambdaMUD';
  text-transform: uppercase;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 25%;
  /* color: #fff; */
  color: #A7712F;
  overflow: hidden;
  animation: animate 8s infinite linear;  
}

@keyframes animate {
  0% {
    height: 25%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 30%;
  }
  75% {
    height: 70%;
  }
  100% {
    height: 100%;
  }
}

.login-home:hover {
    cursor: pointer;
}

.web-btn {
  background: black;
  width: 16vw;
}
.input-box {
  width: 16vw;
}
.input-title {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Media query */

@media (max-width: 500px) {

  .input-box {
    width: 32vw;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .input-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .web-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 32vw;
  }
}