.chat-view-container {
  display: flex;
  flex-flow: column;
  width:45%;
  height:100%;
  /* border: solid 1px #0CFF83; */
}

.message-thread-container {
  width:100%;
  height: 70%;
  /* border: solid 1px gray; */
  background:#111;
}

.room-input-container {
  height:29%;
  width:100%;
}

.chat-input {
  height: 74%;
  width:97%;
  margin: 0 auto;
  background: #111;
  color:#0CFF83;
  font-family: monospace;
  padding: 1%;
  font-size: 1.3rem;
}

.send-btn {
  height:20%;
  width:100%;
  background: #111;
  color:#FF4C65;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}

.send-btn:hover{
  background: #FF4C65;
  color:#111;
}

.player-msg-container {
  width:99%;
  height:20px;
  display: flex;
  flex-flow: row;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color:white;

}

.player-name {
  width:20%;
  height:20px;
}

.player-msg {
  width:79%;
  height:20px;
}