.GameWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.3);
    width: 1300px;
    height: 800px;
    border-radius: 15px;
}