.GameWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgba(192, 192, 192, 0.3);
    width: 1100px;
    height: 600px;
}