body {
  /* animation: bgcolor infinite 10s linear; */
  width: 1000px;
  margin: auto auto;
  background-color: dodgerblue;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* animation: bgcolor infinite 10s linear; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bgcolor {
  from {
    background: dodgerblue
  }
  to{
    background: steelblue
  }
}

.registerForm, .loginForm {
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  margin: auto auto;
}

h1 {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.loginBody, .registerBody {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.printList {
  font-family: 'VT323', monospace;
  background-color: black;
  color: green;
  font-size: 50px;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-flow: column-reverse;
  overflow: scroll;
  border: 10px solid white;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.gameInput {
  width: 900px;
  height: 50px;
  font-size: 30px;
  margin-top: 20px;
  margin-left: -5px;
}

.messageP {
  color: dodgerblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

.titleH4 {
  color: white;
  margin-top: 5px;
}

.errorP {
  color: red;
}

.gameSubmit {
  width: 70px;
  height: 55px;
  margin-left: 20px;
}

.inputAndButton {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

h4 {
  margin-bottom: 0px;
}

.descP {
  margin-top: 5px;
  margin-bottom: 15px;
}

.playersP {
  color: orange;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mapContainer {
  display: flex;
  flex-flow: column wrap;
}

.mapRow1, .mapRow2, .mapRow3, .mapRow4, .mapRow5, .mapRow6, .mapRow7 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mapBox {
  width: 150px;
  height: 150px;
  background-color: white;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid dodgerblue;
}

.mapBoxBlank {
  width: 150px;
  height: 150px;
  background-color: black;
  border: 2px solid black;
}

.mapBoxBlankShort {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid black;
}

.mapBoxBlankShortSquished {
  width: 125px;
  height: 50px;
  background-color: black;
  border: 2px solid black;
}

.horizMapLine {
  width: 50px;
  height: 4px;
  border: 3px solid white;
}

.horizMapLineBlank {
  width: 50px;
  height: 4px;
  border: 3px solid black;
}

.vertMapLine {
  width: 4px;
  height: 50px;
  border: 3px solid white;
  margin-left: 73px;
}

.vertMapLineBlank {
  width: 4px;
  height: 50px;
  border: 3px solid black;
}