.App {
  text-align: center;
  min-height: 500px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid teal;
  background-color:white;
  padding: 20px;
}
.welcome {
  font-family: 'Lucida Sans';
  text-decoration: underline;
  color: black;
  font-size: 3rem;
}
.navlinks {
  font-size: 2rem;
  margin: 10px;
  color: purple;
}
.navlinks:hover {
  color: red;
}
