.createuser-ctn {
    display:flex;
    width: 100%;
    height: 950px;
}
.create-header {
    color: white;
}
.create-form {
    display: flex;
    height: 500px;
    width: 17%;
    flex-flow: column;
    margin: 50px 40%;
    position: absolute;
}
.username {
    border-radius: 15px;
    height: 25px;
    margin-bottom: 10px;
    padding: 7px;
    outline: none;

}
.button-container {
    margin-top: 0px;
    height: 30px;
    font-size: .9rem;
}
.button-container .submit-btn {
    width: 100%;
    display:flex;
    border-radius: 15px;
    outline: none;
}