.loginpage {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.welcome{
    font-size: 200%;
}
.enter {
    font-size: 175%;
}
a {
    color: pink;
    text-decoration: none;
}

span{
    color: palevioletred;
    transition: transform .2s;
    display: inline-block;
}
span:hover{
    color: palegreen;
    cursor: pointer;
    transform: scale(1.05);
}
.back {
    transition: transform .2s;
    font-size: 150%;
}
.back:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.login {
    box-sizing: border-box;
    padding: 40px;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.register {
    box-sizing: border-box;
    padding: 40px;
    height: 200px;
    width: 200px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hide {
    display: none;
}