.Console {
    width: 100%;
    max-width: 576px;
    max-height: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    box-sizing: border-box;
    overflow: scroll;
}
.Console .res-title {
    width: 95%;
    text-align: left;
}
.Console .res2 {
    margin-top: 2%;
}