.Registration {
    width: 100%;
    max-width: 768px;
    border: 1px solid #BC3C3C;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.Registration .title {
    text-align: left;
    border: 1px solid #3CBDBD;
    background: #3CBDBD;
    color: white;
    padding: 1%;
}
.Registration .btn {
    margin: 2% auto;
    width: 25%;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: orange;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Registration .btn:hover {
    box-shadow: .25rem .25rem .15rem lightgrey;
}
.Registration .input {
    width: 50%;
    margin: 2% auto 0 auto;
    border: none;
    border-bottom: 1px solid black;
    padding-left: .5%;
}
.Registration .input:hover {
    font-weight: bold;
}